{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Google Icons -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

        <!-- Jquery -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>

        <title>내 피드</title>

        <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }
        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .feed_box {
            border: solid 1px gray;
            background-color: white;
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }

        .navbar {
            position: relative;
            z-index: 1050;
        }

        .dropdown-item {
            display: flex;
            align-items: center;
        }

        .dropdown-item .material-symbols-outlined {
            margin-right: 12px;
        }


    </style>
    </head>

    <body>

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light"
             style="background-color: rgb(252,252,252); position: fixed; width: 100%">
            <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; width: 1000px">

                <!-- 왼쪽 : 로고 -->
                <a class="navbar-brand" href="/main">
                    <img src="{% static 'images/BOOKSNAP.png' %}" style="height:40px;">
                </a>


                <!-- 가운데 : 검색창 -->
                <div class="mx-auto d-flex" style="width:300px; height: 25px">
                    <input class="form-control me-2" style="box-shadow: none" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" style="width:60px"><span
                            class="material-symbols-outlined">search</span></button>
                </div>

                <!-- 오른쪽 : 아이콘 그룹 -->
                <div class="d-flex gap-3 ms-auto">
                    <a href="/main" style="color: black"><span class="material-symbols-outlined">home</span></a>
                    <span class="material-symbols-outlined">send</span>
                    <span id="nav_bar_add_box" class="material-symbols-outlined"  style="cursor: pointer">add_box</span>
                    <span class="material-symbols-outlined">explore</span>
                    <span class="material-symbols-outlined">mood_heart</span>

                    <!-- 프로필 & 드롭다운 -->
                    <div class="dropdown">

                        <!-- 프로필 -->
                        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="box" style="height: 30px; width: 30px">
                                <img class="profile" src="{% get_media_prefix %}{{ user.profile_image }}" style="height:30px; width: 30px">
                            </div>
                        </a>

                        <!-- 드롭다운 -->
                        <ul class="dropdown-menu" style="left: -148px" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">
                                <span class="material-symbols-outlined">photo_library</span>
                                MY SNAP</a></li>
                            <li><a class="dropdown-item" href="#">BOOKSHELF </a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/user/logout">
                                <span class="material-symbols-outlined">Logout</span>
                                LOGOUT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- 프로필 영역 -->
        <div style="background: #f4f4f4">
            <div style="display: flex; flex-direction: row; justify-content: center">
                <div style="padding-top: 90px; padding-left: 60px; padding-right: 40px; padding-bottom: 20px">
                    <!-- 프로필 사진 -->
                    <div class="box" style="height: 150px; width: 150px">
                        <img class="profile" src="{% get_media_prefix %}{{ user.profile_image }}"
                             style="height:150px; width: 150px">
                    </div>
                </div>

                <!-- 텍스트들 -->
                <div style="display:flex; padding-top: 103px; flex-direction:column; gap:14px; text-align: left;
                    padding-right: 250px">

                    <!-- #1 줄 -->
                    <div style="display: flex; justify-content: center; flex-direction: row">
                        <div style="font-size: 25px; font-weight: bold">{{ user.nickname }}</div>
                        <button id="button_profileupload" style="margin:0 40px" >프로필 사진 편집</button>
                        <input type="file" id="input_fileupload" style="display: none" onchange="profile_upload()">
                        <span class="material-symbols-outlined">Settings</span>
                    </div>

                    <!-- #2 줄 -->
                    <div style="font-size: 15px">게시물 팔로워 팔로우</div>

                    <!-- #3 줄 -->
                    <div style="font-size: 15px">{{ user.name }}</div>
                </div>
            </div>
        </div>

        <!-- #1 Modal Layout(HTML) -->
        <!-- 전체 검정 화면 -->
        <div id="first_modal" class="modal_overlay">

            <!-- 가운데 흰 화면 -->
            <div class="modal_window">

                <!-- 상단 바 -->
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px">
                    <div style="width:40px">&nbsp;</div>
                    <div style="font-weight: bold; display:flex; align-items:center; justify-content:center;">
                        <span class="material-symbols-outlined" style="margin-right: 5px">photo_camera</span>
                        SNAP YOUR BOOK
                    </div>
                    <div><span class="modal_close material-symbols-outlined" style="cursor: pointer; margin-right: 5px">close</span></div>
                </div>

                <!-- Image Drog & Drop-->
                <div class="img_upload_space"
                     style="border-top: solid 1px darkgray; width :100%; height: 530px; margin-top: 10px"></div>

            </div>
        </div>

        <!-- #2 Modal Layout(HTML) -->
        <!-- 전체 검정 화면 -->
        <div id="second_modal" class="modal_overlay">

            <!-- 가운데 흰 화면 -->
            <div class="modal_window">

                <!-- 상단 바 -->
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px">
                    <div style="width:40px">&nbsp;</div>
                    <div style="font-weight: bold; display:flex; align-items:center; justify-content:center;">
                        <span class="material-symbols-outlined" style="margin-right: 5px">photo_camera</span>
                        SNAP YOUR BOOK
                    </div>
                    <div><span class="modal_close material-symbols-outlined" style="cursor: pointer; margin-right: 5px">
                        close</span>
                    </div>
                </div>

                <!-- 이미지 | 글쓰기 -->
                <div style="display: flex; flex-direction: row; border-top: solid 1px darkgray; margin-top: 10px">

                    <!-- 이미지 -->
                    <div class="img_upload_space" style="width :70%; height: 530px"></div>

                    <!-- 글쓰기 -->
                    <div style="display: flex; flex-direction: column; border-left: solid 1px darkgray; width: 30%">

                        <!-- 프로필 -->
                        <div style="display: flex; flex-direction: row; align-items: center; margin: 10px">
                            <!-- 프로필 사진 -->
                            <div class="box" style="height: 35px; width: 35px">
                                <img class="profile" src="{% get_media_prefix %}{{ user.profile_image }}"
                                     style="height:35px; width: 35px">
                            </div>
                            <!-- 아이디 -->
                            <div style="margin-left: 10px; font-size: 12px">
                                <b>{{ user.nickname }}</b>
                            </div>
                        </div>

                        <!-- 글쓰는 곳 -->
                        <div>
                            <textarea id="input_feed_content" class="form-control" id="exampleFormControlTextarea1"
                                      rows="3" style="width: 100%; height: 440px"></textarea>
                        </div>

                        <!-- 버튼 -->
                        <button id="feed_create_button" type="button" class="btn btn-info" style="width: 100%">
                            공유하기
                        </button>

                    </div>
                </div>


            </div>
        </div>


        <!-- Modal Action -->
        <script>

        $('.modal_close').click(function () {         // close 버튼 누르면
            $('#first_modal').css({                   // first_modal 끄기
                display: 'none'
            });
            $('#second_modal').css({                  // second_modal 끄기
                display: 'none'
            });
        })

            let files;

            /* Open Modal*/
            $('#nav_bar_add_box').click(function () {   // nav_bar_add_box를 click하면 함수 실행
                $('#first_modal').css({                // 그 함수는 first_modal의 css 속성 중
                    display: 'flex'                   // display 값을 flex로 변경함 (기본은 none)
                });
                $(document.body).css({
                    overflow: 'hidden'                 // 스크롤 없애기
                });
            });

            /* Event 연결 */
            $('.img_upload_space')            // drog&drop html에 대하여
                .on("dragover", dragOver)     // 파일을 그 영역 위로 끌어오면 dragOver 함수 실행
                .on("dragleave", dragOver)    // 파일을 영역 밖으로 빼면 dragOver 함수 실행
                .on("drop", uploadFiles);     // 파일을 실제로 drop 하면 uploadFiles 함수 실행

            /* Drag 상태 처리 */
            function dragOver(e) {             // event 객체에 대하여
                e.stopPropagation();          // event bubbling(부모 요소로 퍼지는 것) 막음
                e.preventDefault();           // 브라우저 기본 동작(새 창으로 열림) 막음

                if (e.type == "dragover") {              // drag 하는 중에
                    $(e.target).css({
                        "background-color": "black",     // 배경 색상은 black
                        "outline-offset": "-20px"
                    });

                } else {                                 // drag 하지 않는 중에(leave)
                    $(e.target).css({
                        "background-color": "gray",      // 배경 색상은 gray
                        "outline-offset": "-10px"
                    });
                }
            }

            /* 파일 업로드 처리 - 파일 drop 시 */
            function uploadFiles(e) {
                e.stopPropagation();
                e.preventDefault();

                e.dataTransfer = e.originalEvent.dataTransfer; // 원본 이벤트에서 실제 파일 데이터를 꺼냄
                files = e.target.files || e.dataTransfer.files; // 그 파일 데이터를 files 변수에 저장
                console.log("뭔가 파일을 올렸네?" + files[0].name);                                                    // 그 후, 이미지인지 검사하고 화면에 보여줌

                /* 이미지 확인 */
                if (files.length > 1) {          // 2장 이상 업로드 시 경고
                    alert('1 Picture only');
                    return;
                }

                if (files[0].type.match(/image.*/)) {   // 파일 타입이 이미지인지 검사

                    $('#first_modal').css({                   // first_modal은 끄고
                        display: 'none'
                    });
                    $('#second_modal').css({                  // second_modal 켜기
                        display: 'flex'
                    });

                    $('.img_upload_space').css({       // 업로드한 파일을 임시 URL로 변환. div 배경에 이미지 표시
                        "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                        "outline": "none",
                        "background-size": "100%",
                        "background-repeat": "no-repeat",         // 바둑판 배열X
                        "background-position": "center"
                    });
                } else {
                    alert('img files only');
                    return;
                }

            }

            /* 공유하기 버튼 클릭 */
            $('#feed_create_button').click(function () {
                alert("공유하기 눌렀다." + files[0].name);

                /* 데이터 모아서 */
                let file = files[0];                            // files[0] : 드롭했던 이미지 파일
                let image = files[0].name;                      // files[0].name : 파일 이름
                let content = $('#input_feed_content').val();   // textarea에 입력한 글 / .val() : input 값 읽기

                /* FormData에 담고 */
                let fd = new FormData();                        // 서버로 보낼 데이터들(파일+문자열+텍스트)
                fd.append('file', file);                        // 위의 내용들을 FormData에 담는다
                fd.append('image', image);
                fd.append('content', content);

                /* 서버로 보내기 */
                $.ajax({                                        // AJAX(비동기)로 브라우저 → Django 서버로 데이터 전달
                    data: fd,                                   // 1. FormData에 담긴 파일+글 데이터를
                    method: "POST",                             // 2. 서버로 전달하는데
                    url: "/content/upload",                     // 3. 이 주소로 요청(urls.py에서 UploadFeed와 연결)
                    processData: false,
                    contentType: false,

                    success: function (data) {
                        console.log("성공");
                    },
                    error: function (request, status, error) {
                        console.log("에러");
                    },
                    complete: function () {
                        console.log("완료");
                        location.replace("/main");              // main 페이지로 이동
                    }
                });
            });

            /* '프로필 사진 편집 버튼'으로 프로필 사진 바꾸기 */
            $('#button_profileupload').click(function (){
                $('#input_fileupload').click();
            });

            function profile_upload(){
                let file = $('#input_fileupload')[0].files[0];
                let email = "{{ user.email }}";

                let fd = new FormData();
                fd.append('file', file);                        // 위의 내용들을 FormData에 담는다
                fd.append('email', email);

                $.ajax({                                        // AJAX(비동기)로 브라우저 → Django 서버로 데이터 전달
                    data: fd,                                   // 1. FormData에 담긴 파일+글 데이터를
                    method: "POST",                             // 2. 서버로 전달하는데
                    url: "/user/profile/upload",                // 3. 이 주소로 요청(user.urls.py에서 연결)
                    processData: false,
                    contentType: false,

                    success: function () {
                        console.log("성공");
                    },
                    error: function () {
                        console.log("에러");
                    },
                    complete: function () {
                        console.log("완료");
                        location.replace("/content/mysnap");              // mysnap 페이지로 이동
                    }
                });
            }

        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </div>
    </body>
</html>